<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>2022 KYU B:LOCK</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', path='/css/main-template.css') }}" rel="stylesheet">
</head>

<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-black bg-white">
    <div class="container">
      <a class="navbar-brand"> </a>
      <img
        class="logo-img"
        src="{{ url_for('static', path='/assets/logo/logo.svg') }}"
        onclick="location.href='/about'" 
        style="cursor:pointer" 
        alt=""
      />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="designer">Designer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guest">Guest Book</a>
          </li>
          <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="container-out">
      <div id="container-in">
        <article id="gallery">
          <ul id="ul-gallery">
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="/designer/kimgunwoo.html">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Kim_Gunwoo.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="/designer/kimgunwoo.html">
                      김건우
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src" 
                      src="../static/assets/designer-profile/Nam_Yejin.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      남예진
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Seo_Seokmin.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      서석민
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Son_Youngjae.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      손영재
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Um_Jungwoo.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      엄정우
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Lee_Hyeonji.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      이현지
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Jang_Seokyong.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      장석용
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Kang_Shinwook.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      강신욱
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Seo_Jeongung.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      서정웅
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Kim_Yeeun.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      김예은
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Kim_Yujeong.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      김유정
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Shin_Soojeong.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      신수정
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Yu_Jinseo.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      유진서
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/Cho_Youngwon.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      조영원
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/profile.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      개발자
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li style class="visible">
              <div class="gallery-grid">
                <div class="gallery-content">
                  <div class="gallery-image">
                    <a href="">
                      <img class="designer-img-src"
                        src="../static/assets/designer-profile/profile.png" />
                    </a>
                  </div>
                  <div class="gallery-text">
                    <a href="">
                      개발자
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</body>
<!-- 저작권 영역 -->
<footer class="footer">
  <!-- <div style="float: left"> -->
    <img
      class="posterbox"
      src="{{ url_for('static', path='/assets/posterbox/poster.svg') }}"
      alt=""
    />
    <div class="footer_word">
      <span>Konyang University</span><br><br>
      <span>2022 6th Graudation Exhibition</span><br />
      <span>Interdisciplinary Design</span>
    </div>

  <!-- </div> -->
  <div style="position: fixed; bottom: 50px; right: 100px">
    <a href="#"> TOP </a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', path='js/main-template.js') }}"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', path='js/scripts.js') }}"></script>
</body>

</html>