<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>2022 KYU B:LOCK</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', path='/css/main-template.css') }}" rel="stylesheet">
</head>

<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-black bg-white">
    <div class="container">
      <a class="navbar-brand" href="index"> </a>
      <img
        class="logo-img"
        src="{{ url_for('static', path='/assets/logo/logo.svg') }}"
        alt=""
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="designer">Designer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guest">Guest Book</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="wrapper_project">
    <div id="container-in">
      <article id="gallery">
        <ul id="ul-project-gallery">
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/gunwoo">
                    <img class="project-img-src" src="../static/assets/projects/gunwoo.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/gunwoo">
                    김건우
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/yejin">
                    <img class="project-img-src" src="../static/assets/projects/yejin.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/yejin">
                    남예진
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/seokmin">
                    <img class="project-img-src" src="../static/assets/projects/seokmin.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/seokmin">
                    서석민
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/youngjae">
                    <img class="project-img-src" src="../static/assets/projects/youngjae.jpg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/youngjae">
                    손영재
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/jeongwoo">
                    <img class="project-img-src" src="../static/assets/projects/jeongwoo.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/jeongwoo">
                    엄정우
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/hyeonji">
                    <img class="project-img-src" src="../static/assets/projects/hyeonji.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/hyeonji">
                    이현지
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/seokyong">
                    <img class="project-img-src" src="../static/assets/projects/seokyong.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/seokyong">
                    장석용
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/shinwook">
                    <img class="project-img-src" src="../static/assets/projects/shinwook.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/shinwook">
                    강신욱
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/jeongung">
                    <img class="project-img-src" src="../static/assets/projects/jeongung.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/jeongung">
                    서정웅
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/yeeun">
                    <img class="project-img-src" src="../static/assets/projects/yeeun.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/yeeun">
                    김예은
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/yujeong">
                    <img class="project-img-src" src="../static/assets/projects/yujeong.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/yujeong">
                    김유정
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/soojeong">
                    <img class="project-img-src" src="../static/assets/projects/soojeong.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/soojeong">
                    신수정
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/jinseo">
                    <img class="project-img-src" src="../static/assets/projects/jinseo.png" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/jinseo">
                    유진서
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li style class="visible">
            <div class="gallery-grid">
              <div class="gallery-content">
                <div class="gallery-image">
                  <a href="projects/youngwon">
                    <img class="project-img-src" src="../static/assets/projects/youngwon.jpeg" />
                  </a>
                </div>
                <div class="gallery-project-text">
                  <a>
                    Pocko
                  </a>
                  <a href="projects/youngwon">
                    조영원
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </div>
  </div>
  </div>


</body>
<!-- 저작권 영역 -->
<footer class="footer" style="height: 180px">
  <div style="float: left">
    <img
          class="posterbox"
          src="{{ url_for('static', path='/assets/posterbox/poster.svg') }}"
          alt=""
        />
    <!-- <div class="posterbox">
      <div class="content"></div>
    </div> -->
    <div style="position: fixed; left: 200px">
      <span>Konyang University</span><br />
      <span>Interdisciplinary Design</span><br />
      <span>2022 6th Graudation Exhibition</span>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div style="position: inherit; left: 300px">
      <span>Konyang University</span><br />
      <br />
      <span>2022 6th Graudation Exhibition</span><br />
      <span>Interdisciplinary Design</span><br />
      <span>class of 2014, 2015, 2019 All Right Reserved.</span>
    </div> -->
  <div style="position: fixed; bottom: 50px; right: 100px">
    <a href="#"> TOP </a>
  </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', path='js/main-template.js') }}"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', path='js/scripts.js') }}"></script>

</html>