<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>2022 KYU B:LOCK</title>
    <!-- Favicon-->
    <link
      rel="icon"
      href="{{ url_for('static', path='/assets/posterbox/poster.svg') }}"
      type="image/x-icon"
      sizes="32x32"
    />
    <link
      href="{{ url_for('static', path='/css/styles.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/main-template.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-black bg-white">
      <div class="container">
        <a class="navbar-brand"> </a>
        <img
          class="logo-img"
          src="{{ url_for('static', path='/assets/logo/logo.svg') }}"
          onclick="location.href='/about'" 
          style="cursor:pointer" 
          alt=""
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/project"> &nbsp;&nbsp;PROJECT&nbsp;&nbsp; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/designer"> &nbsp;&nbsp;DESIGNER&nbsp;&nbsp; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/guest"> &nbsp;&nbsp;GUESTBOOK&nbsp;&nbsp; </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <body>  
      <div id="wrapper_designer_detail">
        <div id="container_out">
          <div id="container-in">
            <article id="board_view">
              <div>PROFILE</div>
              <section id="board_main">
                <!-- <div id="board_profile"> -->
                  
                  <div id="board_content">
                    <div id="board_title">
                      <div>장석용</div>
                    </div>
                    <div id="board_email" style="font-size: 8pt !important;">
                      <div>dnjseldwkdtjrdyd@naver.com</div>
                      <!-- href="mailto:rla081089@gmail.com" -->
                      <div>portfolio</div>
                    </div>
                    <!-- <div id="">
                      <div>portfolio</div>
                    </div> -->

                    <div id="board_title_2">
                      <div>Introduce</div>
                    </div>
                    <div id="board_introduce">
                      <div>
                        안녕하세요 저는 건양대학교 융합디자인학과에서 4년간 디자인에 대해 공부한 장석용입니다. 
                        성공을 위해 실패를 경험하고 있고 그 실패를 위해 무엇이든 도전하고 있습니다. 
                        이 도전들이 꼭 저에게 성공을 가져다 줄 것이기 때문에 그 날까지 열심히 도전할 것입니다.
                      </div>
                    </div>
                  </div>
                  <div id="board_img">
                    <img
                      src="{{ url_for('static', path='../static/assets/designer-profile/Jang_Seokyong.png') }}"
                      id="profile_img"
                    />
                  </div>
                  
                <!-- </div> -->
              </section>
            </article>
            
          </div>
        </div>
      </div>
      <div id="wrapper_designer_detail_content_2">
        <div id="board_profile">
          <div class="designer_detail_content_block">
          <span class="designer_detail_content_block_span"> 비록 </span>
          지금의 끝이 앞으로의 시작일지라도,<br>해왔던대로 좋은 시작과 끝을 만들 거다.</div>
        </div>
        <div class="designer_detail_Project">
          Project
        </div>
        <div style="text-align: center;">
          <a href="/projects/seokyong">
            <img class="designer-detail-img-src" src="../static/assets/projects_2/seokyong.jpg"/>
          </a>
        </div>  
        <div class="designer_detail_Project">
          Interview
        </div>
        <div id="designer_detail_interview">
          <div id="board_text_title">
            1. 졸업전시회를 준비하면서 가장 기억에 남는 순간은?<br><br>
          </div>
          <div id="board_text">
            지금은 딱히 기억에 남는게 없다. 하지만 시간이 지나면 하나씩 추억으로 기억될 수도 있을것이다.            <br><br><br><br><br><br>
          </div>
          <div id="board_text_title">
            2. 대학생활 중 기억에 남는 일 한 가지는? <br><br>
          </div>
          <div id="board_text">
            동기들과 밤새 과제하다가 늦은 새벽 중간에 다같이 나가서 음료수 한 잔 사 먹었던 날이 기억에 남아요.
            <br><br><br><br><br><br>
          </div>
          <div id="board_text_title">
            3. "비록"을 넣어 한 마디! <br><br>  
          </div>
          <div id="board_text">
            비록 지금의 끝이 앞으로의 시작일지라도, 해왔던대로 좋은 시작과 끝을 만들 거다. 
            <br><br><br><br><br><br><br>
          </div>
        </div>
      </div>


  <!-- 저작권 영역 -->
  <footer class="footer">
    <!-- <div style="float: left"> -->
    <img class="posterbox" src="{{ url_for('static', path='/assets/posterbox/poster.svg') }}" alt="" />
    <div class="footer_word">
      <span>Konyang University</span><br><br>
      <span>2022 6th Graudation Exhibition</span><br />
      <span>Interdisciplinary Design</span>
    </div>

    <a href="#" class="footer_top_icon">
      <img src="{{ url_for('static', path='/assets/top-logo/top.svg') }}" alt="">
    </a>
  </footer>
    </body>
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', path='js/main-template.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
  </body>
</html>
